@font-face {
  font-family: "High School";
  src: url(fonts/HighSchool.ttf);
}

@font-face {
  font-family: "Romance Logic";
  src: url("fonts/RomanceLogic.ttf");
}

:root {
  --clr-yellow: #f4d03f;
  --clr-gold: #f7dc6f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #fff;
}

body {
  background: #196f3d;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: "High School";
  color: #f4d03f;
  text-shadow: 5px 5px #000;
  font-size: 4rem;
  padding-bottom: 2rem;
}

#welcome,
h2,
#message {
  font-family: "Romance Logic";
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.top {
  height: 200px;
  border: 2px solid var(--clr-gold);
  border-radius: 15px;
  width: 600px;
  margin: 1rem 0;
  padding: 2rem;

  text-align: center;
  background: url("/images/table.png") no-repeat center/cover;
}

#game-play {
  height: 400px;
  width: 600px;
  border: 2px solid var(--clr-gold);
  border-radius: 15px;
  margin: 1rem 0;
  padding: 2rem;
}

#game-nav {
  height: 100px;
  width: 600px;
  border: 2px solid var(--clr-gold);
  border-radius: 15px;
  margin: 1rem 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  background: url("/images/table.png") no-repeat center/cover;
}

.btn-box {
  background-color: #f1c40f;
  font-family: "Romance Logic";
  font-weight: bold;
  font-size: 1.4rem;
  color: #000;
  width: 100px;
  height: 50px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#game-play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("/images/table.png") no-repeat center/cover;
}

#player-display,
#dealer-display,
#message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 5rem;
  height: 5rem;
  padding: 0.25rem 0;
}

#player-name {
  margin-top: 1rem;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 0;
}

.reverse {
  color: #f1c40f;
  background-color: #000;
}
